<% include ../partials/header.ejs %>

<div id="site_content" class="site-content"><a name="#content"></a>
    <div class="container heading">
        <h1 class="section-title archive">Наші потреби</h1></div>
    <div class="featured-post listing-bg">
        <div class="container">
            <div class="flex-row cards-loop">
                <article class="flex-cell flex-md-6 tpl-related-post card">
                    <a href="https://knd.te-st.ru/demo/lc/project/projects-project1/" class="entry-link">
                        <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/2-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/2-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/2-790x488.jpg 790w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/2-300x185.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"></div>
                        <div class="entry-data">
                            <h4 class="entry-title">Образовательная программа для учеников средних школ</h4>
                        </div>
                    </a>
                </article>
                <article class="flex-cell flex-md-6 tpl-related-post card">
                    <a href="https://knd.te-st.ru/demo/lc/project/projects-project2/" class="entry-link">
                        <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/project2-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/project2-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/project2-790x488.jpg 790w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/project2-300x185.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"></div>
                        <div class="entry-data">
                            <h4 class="entry-title">Программа отказа от алкогольной зависимости</h4>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="main-content cards-holder listing-bg archive-post-list ">
        <div class="container">
            <div class="flex-row start cards-loop">
                <article class="flex-cell flex-md-6 flex-lg-4 tpl-post card">
                    <a href="https://knd.te-st.ru/demo/lc/project/projects-project3/" class="thumbnail-link">
                        <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/4-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/4-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/4-790x488.jpg 790w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/4-300x185.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"></div>
                        <div class="entry-data">
                            <h4 class="entry-title">Программа «Линия цвета»</h4>
                        </div>
                        <div class="entry-meta"></div>
                    </a>
                </article>
                <article class="flex-cell flex-md-6 flex-lg-4 tpl-post card">
                    <a href="https://knd.te-st.ru/demo/lc/project/projects-project4/" class="thumbnail-link">
                        <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/11-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/11-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/11-790x488.jpg 790w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/11-300x185.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"></div>
                        <div class="entry-data">
                            <h4 class="entry-title">Программа поддержки «Близкий человек»</h4>
                        </div>
                        <div class="entry-meta"></div>
                    </a>
                </article>
                <article class="flex-cell flex-md-6 flex-lg-4 tpl-post card">
                    <a href="https://knd.te-st.ru/demo/lc/project/projects-project5/" class="thumbnail-link">
                        <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/14-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/14-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/14-790x488.jpg 790w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/14-300x185.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"></div>
                        <div class="entry-data">
                            <h4 class="entry-title">Программа «Дом»</h4>
                        </div>
                        <div class="entry-meta"></div>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="paging listing-bg"></div>
    <div class="knd-archive-sidebar">
        <div class="knd-joinus-widget">
            <div class="container widget">
                <h2>112 волонтеров помогают «Линии цвета» в настоящий момент</h2>
                <div class="flex-row knd-whoweare-headlike-text-wrapper">
                    <p class="knd-whoweare-headlike-text flex-mf-12 flex-sm-10">
                        Присоединяйтесь к команде волонтеров и консультантов в наших проектах </p>
                </div>
                <div class="knd-cta-wrapper-wide">
                    <a class="cta" href="https://knd.te-st.ru/demo/lc/volunteers/">Стать волонтером</a>
                </div>
            </div>
        </div>
        <div class="knd-news-widget">
            <div class="container">
                <h2 class="section-title">Последние новости</h2>
                <div class="knd-news-widget-body">
                    <div class="flex-row start cards-loop">
                        <article class="flex-cell flex-md-6 flex-lg-4 tpl-post card">
                            <a href="https://knd.te-st.ru/demo/lc/2017/09/25/articles-article5/" class="thumbnail-link">
                                <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article5-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article5-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article5-300x185.jpg 300w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article5-768x475.jpg 768w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article5.jpg 1024w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article5-790x488.jpg 790w" sizes="(max-width: 640px) 100vw, 640px"></div>
                                <div class="entry-data">
                                    <h4 class="entry-title">Tobacco Body: визуальный проект о вреде курения</h4>
                                </div>
                                <div class="entry-meta"><span class="date">25.09.2017</span><span class="sep"></span><span class="category">Без рубрики</span></div>
                            </a>
                        </article>
                        <article class="flex-cell flex-md-6 flex-lg-4 tpl-post card">
                            <a href="https://knd.te-st.ru/demo/lc/2017/09/25/articles-article4/" class="thumbnail-link">
                                <div class="entry-preview"><img width="620" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article4-620x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></div>
                                <div class="entry-data">
                                    <h4 class="entry-title">Проект «ЗОЖНИК»: как мы собирали деньги в Сети</h4>
                                </div>
                                <div class="entry-meta"><span class="date">25.09.2017</span><span class="sep"></span><span class="category">Без рубрики</span></div>
                            </a>
                        </article>
                        <article class="flex-cell flex-md-6 flex-lg-4 tpl-post card">
                            <a href="https://knd.te-st.ru/demo/lc/2017/09/25/articles-article3/" class="thumbnail-link">
                                <div class="entry-preview"><img width="640" height="395" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article3-640x395.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article3-640x395.jpg 640w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article3-790x488.jpg 790w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/article3-300x185.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"></div>
                                <div class="entry-data">
                                    <h4 class="entry-title">«Новый день»: открыта регистрация на хакатон по созданию приложений для здорового образа жизни</h4>
                                </div>
                                <div class="entry-meta"><span class="date">25.09.2017</span><span class="sep"></span><span class="category">Без рубрики</span></div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <section class="knd-partners-widget">
            <div class="container">
                <h2 class="section-title">Наши партнеры</h2>
                <div class="knd-news-widget-body flex-row">
                    <div class="flex-cell flex-mf-12 flex-sm-6 flex-md-3">
                        <article class="tpl-org logo">
                            <a href="https://te-st.ru/" class="logo-link logo-frame" target="_blank" title="Теплица социальных технологий"> <span><img width="259" height="170" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-001.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></span>
                            </a>
                        </article>
                    </div>
                    <div class="flex-cell flex-mf-12 flex-sm-6 flex-md-3">
                        <article class="tpl-org logo">
                            <a href="http://ksz.natm.ru/" class="logo-link logo-frame" target="_blank" title="Департамент труда и социальной защиты населения Новгородской области"> <span><img width="386" height="359" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-004.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-004.jpg 386w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-004-300x279.jpg 300w" sizes="(max-width: 386px) 100vw, 386px"></span>
                            </a>
                        </article>
                    </div>
                    <div class="flex-cell flex-mf-12 flex-sm-6 flex-md-3">
                        <article class="tpl-org logo">
                            <a href="http://cafrussia.ru/" class="logo-link logo-frame" target="_blank" title="«КАФ»"> <span><img width="472" height="157" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-002.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-002.jpg 472w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-002-300x100.jpg 300w" sizes="(max-width: 472px) 100vw, 472px"></span>
                            </a>
                        </article>
                    </div>
                    <div class="flex-cell flex-mf-12 flex-sm-6 flex-md-3">
                        <article class="tpl-org logo">
                            <a href="http://www.novreg.ru/" class="logo-link logo-frame" target="_blank" title="Правительство Новгородской области"> <span><img width="278" height="320" src="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-003.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-003.jpg 278w, https://knd.te-st.ru/demo/lc/wp-content/uploads/2017/09/org-003-261x300.jpg 261w" sizes="(max-width: 278px) 100vw, 278px"></span>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </section></div>
</div>

<% include ../partials/footer.ejs %>
