<div id="bottom_bar" class="bottom-bar">
    <div class="container">
        <div class="flex-row align-bottom bottom-branding">
            <div class="flex-cell flex-md-5">
                <h1 class="logo-name">Линия Цвета</h1>
                <h2 class="logo-name">Помощь людям с алкогольной зависимостью</h2>
            </div>
            <div class="flex-cell flex-md-7 links-right">
                <ul class="knd-social-links ">
                    <li class="vk">
                        <a href="https://vk.com/teplitsast">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-vk">
                            </svg>
                            <span>ВКонтакте</span>
                        </a>
                    </li>
                    <li class="ok">
                        <a href="https://ok.ru/profile/0123456789">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-ok">
                            </svg>
                            <span>Одноклассники</span>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="https://www.facebook.com/TeplitsaST">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-facebook">
                            </svg>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/your-organization-page">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-instagram">
                            </svg>
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/TeplitsaST">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-twitter">
                            </svg>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="telegram">
                        <a href="https://telegram.me/TeplitsaPRO">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-telegram">
                            </svg>
                            <span>Telegram</span>
                        </a>
                    </li>
                    <li class="youtube">
                        <a href="https://www.youtube.com/user/teplitsast">
                            <svg class="svg-icon">
                                <use xlink:href="#icon-youtube">
                            </svg>
                            <span>YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <div class="widget-area">
            <div id="text-6" class="widget-bottom widget_text"><h3 class="widget-title">О нас</h3>
                <div class="textwidget"><p>Наш офис, учебные залы и помещения групп поддержки открыты ежедневно с 9:00 до 22:00
                        часов.</p>
                    <p>Москва, 7-я улица Строителей, 17, оф.: 211-217<br/>+7 (495) 787-87-23<br/><a href="mailto:"><span
                                    class="__cf_email__" data-cfemail="dab3b4bcb59ab9b5b6b5a8b6b3b4bff4a8af">[email&#160;protected]</span></a>
                    </p>
                </div>
            </div>
            <div id="nav_menu-6" class="widget-bottom widget_nav_menu"><h3 class="widget-title">Наша работа</h3>
                <div class="menu-menyu-nasha-rabota-v-podvale-container">
                    <ul id="menu-menyu-nasha-rabota-v-podvale" class="menu">
                        <li id="menu-item-192"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61 menu-item-192"><a
                                    href="https://knd.te-st.ru/demo/lc/about/">О нас</a></li>
                        <li id="menu-item-193"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64 menu-item-193"><a
                                    href="https://knd.te-st.ru/demo/lc/history/">Наша история</a></li>
                        <li id="menu-item-194"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60 menu-item-194"><a
                                    href="https://knd.te-st.ru/demo/lc/reports/">Отчеты</a></li>
                        <li id="menu-item-195"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59 menu-item-195"><a
                                    href="https://knd.te-st.ru/demo/lc/contacts/">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div id="nav_menu-7" class="widget-bottom widget_nav_menu"><h3 class="widget-title">Новости</h3>
                <div class="menu-menyu-novosti-v-podvale-container">
                    <ul id="menu-menyu-novosti-v-podvale" class="menu">
                        <li id="menu-item-196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196"><a
                                    href="https://knd.te-st.ru/demo/lc/news/">Новости</a></li>
                        <li id="menu-item-197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-197"><a
                                    href="https://knd.te-st.ru/demo/lc/projects/">Проекты</a></li>
                        <li id="menu-item-198"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63 menu-item-198"><a
                                    href="https://knd.te-st.ru/demo/lc/volunteers/">Волонтерам</a></li>
                        <li id="menu-item-199"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62 menu-item-199"><a
                                    href="https://knd.te-st.ru/demo/lc/howtohelp/">Как помочь</a></li>
                    </ul>
                </div>
            </div>
            <div id="text-7" class="widget-bottom widget_text"><h3 class="widget-title">Политика безопасности</h3>
                <div class="textwidget"><p>Совершая пожертвование, пользователь заключает договор пожертвования путем акцента
                        публичной оферты, который находится <a href="https://knd.te-st.ru/demo/lc/legal">здесь</a></p>
                    <p><a href="https://knd.te-st.ru/demo/lc/legal">Политика обработки персональных данных</a><br/><a
                                href="https://knd.te-st.ru/demo/lc/legal">Политика конфиденциальности</a></p>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="flex-row footer-credits align-center">
            <div class="flex-cell flex-mf-8  flex-md-6">
                <div class="copy">
                    <p>Все материалы сайта доступны по лицензии <a href="https://creativecommons.org/licenses/by-sa/3.0/"
                                                                   target="_blank">Creative Commons СС-BY-SA 3.0</a></p>
                </div>
            </div>
            <div class="flex-cell flex-mf-4 flex-md-6">
                <div class="knd-brand">
                    <a title="Проект Кандинский" href="https://knd.te-st.ru/" target="_blank">
                        <div class="support">Работает на Кандинском</div>
                        <div class="knd-banner">
                            <svg class="knd-icon pic-knd">
                                <use xlink:href="#pic-knd"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type='text/javascript' src='./assets/js/bundle.js'></script>
</body>
</html>
