<% include ./partials/header.ejs %>

<div id="site_content" class="site-content">
    <article id="single-page" class="main-content tpl-page-fullwidth">
        <section class="intro-head-image text-over-image">
            <div class="tpl-pictured-bg" style="background-image: url(./assets/img/5.jpg);background-position: center 66%;"></div>
        </section>
        <section class="container intro-head-content text-over-image has-button">
            <div class="ihc-content">
                <a href="https://knd.te-st.ru/demo/lc/howtohelp">
                    <h1 class="ihc-title">
                        <span>Народ, який не бажає годувати свою армію, незабаром буде вимушений годувати чужу.</span>
                    </h1>
                    <div class="ihc-desc">
                        <p>
                            За даними УВКПЛ ООН, з 14 квітня 2014 року по 31 жовтня 2019 року на Донбасі загинули близько 4 100 українських військови. <b>Aut cum scuto, aut in scuto</b></p>
                    </div>
                    <div class="cta">Допомогти зараз</div>
                </a>
            </div>
        </section>
    </article>
</div>

<% include ./partials/footer.ejs %>
